:root {
    --color1: #fde9e1; /* Fondo del header */
    --color2: #a05c32; /* Texto principal */
    --color3: #4a2103; /* Texto activo y enlaces al pasar el mouse */
    --color4: #ed9a64; /* Fondo del menú al pasar el mouse */
    --color5: #f2c6c6; /* Fondo del footer */
    --color6: #ffffff; /* Texto de enlaces */
    --color7: #000000; /* Texto de enlaces al pasar el mouse */
    --color8: #ffcc00; /* Íconos de redes sociales */
    --color9: #007bff; /* Fondo de botones */
    --color10: #ffffff; /* Texto de botones */
}

*{
    padding: 0;
    margin:0;
}
header {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: var(--color1); 
    padding: 20px;
         
}
header h1{
    font-size: 90px;
    font-family: "Roboto", serif;
}
.menu {
    display: flex; 
    justify-content: center; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    font-family: "Roboto", serif;
        
}
.menu li a {
    font-size: 14px;
    background-color: transparent; 
    padding: 10px; 
    transition: background-color 0.3s, color 0.3s; 
     
    color: var(--color2); 
    position: relative;
    border-radius: 15px;
}
.menu li a:hover {
    background-color: rgb(237, 164, 100); 
    color: var(--color3); 
        
}
    
.menu li {
    margin: 0 15px; 
}
    
.menu li a.active {
    color:var(--color2) ; 
    text-decoration: underline;
        
}
.menu li a i {
    margin-right: 5px; 
}

#imagenuno img, #imagendos img {
    width: 100%; 
    height: auto;
    max-width: 300px; 
}
main {
    margin: 0 auto; 
    padding: 0px; 
    max-width: 800px; /* Ancho máximo */
    font-family: "Roboto", serif;
    

}
/* Configuración de la cuadrícula principal */
main {
    display: grid;
    grid-template-areas: 
        "top    top    top"
        "text   text   der"
        "bottom bottom bottom";
    
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
    grid-auto-rows: minmax(400px, auto); /* Fila con una altura mínima de 400px */
    gap: 10px; /* Espaciado entre las celdas */
    grid-template-rows: auto auto auto auto;
}


.titulo1 {
    grid-area: top;
    background-color: var(--color3);
    padding: 0;
    margin: 5;
    text-align: center;
    font-size: 18px;
    height: 60px; 
    line-height: 50px;
    color: white;
}


article {
    grid-area: text;
    
    padding: 0px;
    font-size: 1.1rem;
    margin-top:0;
   
}


section {
    
    display: flex;
    justify-content: flex-start; /* Alineación de las imágenes hacia la izquierda */
    gap: 10px; /* Espaciado entre las imágenes */
    padding: 20px;
}


#imagenuno, #imagendos {
    width: auto; /* El tamaño será según la imagen */
    height: auto;
    max-width: 300px; /* Limitar el tamaño máximo */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;  
    overflow: hidden;
}

/* Estilo para la publicidad (der) */
#publi {
    grid-area: der;
    
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-row: span 2; /* Hace que el área de #publi ocupe dos filas */
}


.final {
    grid-area: bottom;
    background-color: var(--color3);
    padding: 20px;
    text-align: center;
    font-size: 8px;
    color: white;
}
.mi-separador {
    border: 2px;
    height: 2px;
    background-color: var(--color4); 
}
body{
    background: var(--color1)
    
}
footer {
    margin: 0 auto; 
    padding: 0px; 
    max-width: 800px; 
    
    text-align: center; 
    font-family: "Roboto", serif;
    font-size: 10px;
}

ul {
    list-style: none; 
    padding: 0; 
    margin: 20px 0; 
    display: flex; 
}

.menu, #redes ul {
    justify-content: space-around; 
}

#redes ul {
    justify-content: center; 
}

li {
    margin: 0 10px; 
}

a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 24px;
}

.menu a:hover {
    color: #000000; 
}
#redes a {
    color: rgb(255, 255, 255); /* Color de los íconos (negro) */
    font-size: 10px; /* Tamaño de los íconos */
    text-decoration: none; /* Sin subrayado */
    background: rgb(0, 0, 0); /* Fondo blanco */
    border-radius: 50%; /* Hacerlo circular */
    padding: 10px; /* Espaciado interno para el tamaño del círculo */
    transition: background 0.3s, color 0.3s; /* Transición suave para el hover */
}

#redes a:hover {
    background: #d57a1e; 
    color: white; /* Cambiar el color del ícono al blanco */
}